*{
    margin: 0;
    padding: 0;
}
#login {
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-auto-flow:row dense;
}
.logo {
    width:200px;
    height:300px;
    margin-left: 38%;
    margin-top: 10%;
    grid-column-start: 1;
}
.img-logo{
    width: 200px;
    height: 300px;
}
.text {
    font-size: 25px;
    width: 508px;
    height: 156px;
    color: #CCFBF8;
    grid-column-start: 1;
    margin-left: 20%;
}
.input-style{
    grid-column-start: 2;
    margin-right: 50px;
    margin-top: 25%;
    margin-bottom:0px;
}
input{
    width: 60%;
    margin-top : 25px;
    outline:none;
}
.btn{
    width:200px;
    height:45px;
    font-size: 20px;
    cursor: pointer;
}
.register-grid{
  grid-auto-flow:column;
}
.register{
    margin-right: 50px;
    height: 100px;
    margin-top:0px;
}
h2{
  font-size: 20px;
}
.btn-2{
    font-size:20px;
    cursor: pointer;
}
.social{
    margin-right: 100px;
    margin-top: 0px;
    cursor: pointer;
}
.modal{
    width: 400px;
    height:410px;
    left: 35%;
    top: 100px;
}
#mail-creation, #pass-creation {
    width: 80%;
}
h3{
    margin-right: 30px;
    font-size:25px;
}
.close{
    margin-right:5%;
    margin-top:2%;
}
.home {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.two {
    grid-area: 1 / 2 / span 1 / span 2; 
    border-left: solid white; 
    margin-left: 8%;
  }
.four {
    grid-area: 2 / 2 / span 1 / span 2; 
    border-left: solid white; 
    margin-left: 8%;
  }
.six {
    grid-area: 3 / 2 / span 1 / span 2; 
    border-left: solid white; 
    margin-left: 8%;
  }
.eight {
    grid-area: 4 / 2 / span 1 / span 2; 
    border-left: solid white; 
    margin-left: 8%;
  }
.ten {
    grid-area: 5 / 2 / span 1 / span 2; 
    border-left: solid white; 
    margin-left: 8%;
  }
.img-logo2 {
    width: 65%;
    margin: 20%;
    margin-left: 35%;
}
.carousel{
    margin: 5%;   
    margin-left: 13%; 
    width:70%; 
    height: 60%;
}
.category-1, .category-2, .category-3, .category-4 {
    padding: 0%;  
    margin-left: 15%; 
    width: 65%; 
    font-size:130%;
}
.imgHome {
    width: 230px;
    max-height: 315px;
}
#navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #0E0E0E;
}
#navBar .three{
    margin-left: 5%;
    margin-top: 150%;
}
#navBar .five{
    margin-left: 5%;
    margin-top: 15%;
}
#navBar .nine{
    margin-left: 5%;
    margin-top: 15%;
}
#navBar .texto{
    font-size: 20px;
    color: #CCFBF8;
    margin-left: 5%;
}
#categories{
    color: #00CFC3;
}
.movie-category{
    display: flex;
    flex-direction: column;
    color: #CCFBF8;
    margin-top: 10%;
    text-align: left;
    margin-left: 34%;
}
.left-test {
    width: 45%;
    float: left;
    margin: 5%;
}
.box{
    width: 40%;
    float: left;
}
.icon-back {
    width: 100%;
    float: right;
}
.sheetImg{
    border-radius: 10px;
    margin-top: -90px;
}
.info{
    margin: 2%;
}
.star{
    margin-left: 65%;
}
.logoSpoilers, .logoYoutube {
    width: 15%;
    margin-left: 5%;
}
.logoDisney {
    width: 10%;
    margin-left: 5%;
}
.logoCuevana, .logoNetflix {
    width: 5%;
    margin-left: 5%;
}
