*{
    margin: 0;
    padding: 0;
}

#login {
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-auto-flow:row dense;
}

.logo {
    width:200px;
    height:300px;
    margin-left: 220px;
    margin-top:60px;
    grid-column-start: 1;
}

.img-logo{
    width: 200px;
    height: 300px;
}

.text {
    font-size: 25px;
    width: 508px;
    height: 156px;
    color: #CCFBF8;
    grid-column-start: 1;
    margin-left:80px;
    margin-top: 0px;
}

.input-style{
    grid-column-start: 2;
    margin-right: 50px;
    margin-top:60px;
    margin-bottom:0px;
}

input{
    width: 300px;
    margin-top : 35px;
    outline:none;
}

.btn{
    width:200px;
    height:45px;
    font-size: 20px;
    cursor: pointer;
}

.register-grid{
  grid-auto-flow:column;
}

.register{
    margin-right: 50px;
    height: 100px;
    margin-top:0px;
}

h2{
  font-size: 20px;
}

.btn-2{
    font-size:20px;
    cursor: pointer;
}

.social{
    margin-right: 100px;
    margin-top: 0px;
    cursor: pointer;
}

.modal{
    width: 400px;
    height:410px;
    left:450px;
    top: 100px;
}

.modal-content{
    margin-left:35px;
}

h3{
    margin-right: 30px;
    font-size:25px;
}

#btn-3 {
    margin: 10px 0px 0px 70px;
}

.close{
    margin-right:5%;
    margin-top:2%;
}

.social-2 {
    text-align:  center;
    margin-left: 2px;
    margin-top:25px;
}