/*{
    margin: 0;
    padding: 0;
}
body {
    background-color:#0E0E0E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#login {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img-logo {
    width: 30%;
    height: 40%;
    margin: 30px;
    align-self: center;
}
.text {
    font-weight: medium;
    color: #84F8F1;
    font-size: 20px;
    width: 282px;
    align-self: center;
    margin: 10px;
}
input {
    width: 281px;
    height: 49px;
    background: #272727;
    box-shadow: 4px 2px 5px rgba(0, 207, 195, 0.5);
    border-radius: 5px;
    margin: 15px;
    border-style: none;
    color: white;
}
#email::placeholder {
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 4%;    
}
#password::placeholder {
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.btn {
    width: 161px;
    height: 39px;
    background: #00CFC3;
    box-shadow: 0px 0px 15px rgba(6, 220, 176, 0.6);
    border-radius: 5px;
    color: white;
    margin: 30px;
    border-style: none;
}
h2, .text-signUp {
    color: white;
    font-weight: lighter;
    font-size: 16px;
}
.btn-2 {
    background: none;
    color: #00CFC3;
    border-style: none;
}
.social {
    margin: 40px;
}
.modal {
  /*  display: none; /* Hidden by default */
   /* position: fixed; /* Stay in place */
   /* z-index: 1; /* Sit on top */
   /* overflow: hidden;
    width: 312px;
    height: 366px;
    left: 8%;
    top: 267px;
    border-radius: 5px;
    background-color: white;*/
/*}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    background-color: white;
    text-align: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}
.close {
    margin-right: 2%;
    display: flex;
    color: #00cfc3;
    flex-direction: row-reverse;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
h3 {
    color: #00CFC3;
    text-align: center;
    margin-bottom: 2%;
}
#btn-3 {
    margin-top: 10px;
}
#mail-creation::placeholder{
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 5%; 
}
#pass-creation::placeholder{
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.social-2 {
    margin-top: -4%;
}
/* Add Animation */
/*@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
.carousel{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.carousel ul {
     display: flex;
     padding: 0;
     width:500%;
     animation: change 10s infinite alternate;
}
.carousel li{
    list-style:none;
    width:100%;
}
.carousel img{
     width:100%;
     height:90%;
     border-radius: 10px;
}
     @keyframes change{
     0%{margin-left:-0%;}
     10%{margin-left:-0%;}
     20%{margin-left:-100%;}
     30%{margin-left:-100%;}
     40%{margin-left:-200%;}
     50%{margin-left:-200%;}
     60%{margin-left:-300%;}
     70%{margin-left:-300%;}
     80%{margin-left:-400%;}
     100%{margin-left:-400%;}
}
.carousel img:hover{
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
   cursor: pointer;
}
#messageLogin {
    color: white;
}
.img-logo2 {
    width: 10%;
    padding: 5%;
}
.category-1, .category-2, .category-3, .category-4 {
    color: #00CFC3;
    padding: 5%;
}
.category-text {
    text-align: left;
}
.showAll {
    text-align: right;
    margin-top: -25px;
}
.imgHome {
    width: 90%;
    max-height: 110px; 
    padding: 5px; 
}
.viewMovie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}
#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #272727;
    height: 30px;
    padding: 5%;
}
.movie-category{
    display: none;
}
.texto {
    color: #272727;
}
.sheetImg {
    width: 100%;
}
.sheetGender {
    color: #00CFC3;
    font-size: 20px;
    margin-left: 5%;
}
.sheetYear{
    color: #00CFC3;
    font-size: 20px;
    margin-left: 10%;
}
.star {
    margin-left: 45%;
}
.sheetTitle{
    color: #00CFC3;
    font-size: 25px;
    margin: 2%;
}
.sheetSyn {
    color: #CCFBF8;
    font-size: large;
    text-align: justify;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.logoSpoilers {
    width: 20%;
    margin-left: 5%;
}
.logoYoutube, .logoDisney {
    width: 30%;
    margin-left: 5%;
}
.logoCuevana, .logoNetflix {
    width: 17%;
    margin-left: 5%;
}*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color:#0E0E0E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#login {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img-logo {
    width: 30%;
    height: 40%;
    margin: 30px;
    align-self: center;
}
.text {
    font-weight: medium;
    color: #84F8F1;
    font-size: 20px;
    width: 282px;
    align-self: center;
    margin: 10px;
}
input {
    width: 281px;
    height: 49px;
    background: #272727;
    box-shadow: 4px 2px 5px rgba(0, 207, 195, 0.5);
    border-radius: 5px;
    margin: 15px;
    border-style: none;
    color: white;
}
#email::placeholder {
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 4%;    
}
#password::placeholder {
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.btn {
    width: 161px;
    height: 39px;
    background: #00CFC3;
    box-shadow: 0px 0px 15px rgba(6, 220, 176, 0.6);
    border-radius: 5px;
    color: white;
    margin: 30px;
    border-style: none;
}
h2, .text-signUp {
    color: white;
    font-weight: lighter;
    font-size: 16px;
}
.btn-2 {
    background: none;
    color: #00CFC3;
    border-style: none;
}
.social {
    margin: 40px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: hidden;
    width: 312px;
    height: 366px;
    left: 8%;
    top: 267px;
    border-radius: 5px;
    background-color: white;
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    background-color: white;
    text-align: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}
.close {
    margin-right: 2%;
    display: flex;
    color: #00cfc3;
    flex-direction: row-reverse;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
h3 {
    color: #00CFC3;
    text-align: center;
    margin-bottom: 2%;
}
#btn-3 {
    margin-top: 10px;
}
#mail-creation::placeholder{
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 5%; 
}
#pass-creation::placeholder{
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.social-2 {
    margin-top: -4%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
.carousel{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.carousel ul {
     display: flex;
     padding: 0;
     width:500%;
     animation: change 10s infinite alternate;
}
.carousel li{
    list-style:none;
    width:100%;
}
.carousel img{
     width:100%;
     height:90%;
     border-radius: 10px;
}
     @keyframes change{
     0%{margin-left:-0%;}
     10%{margin-left:-0%;}
     20%{margin-left:-100%;}
     30%{margin-left:-100%;}
     40%{margin-left:-200%;}
     50%{margin-left:-200%;}
     60%{margin-left:-300%;}
     70%{margin-left:-300%;}
     80%{margin-left:-400%;}
     100%{margin-left:-400%;}
}
.carousel img:hover{
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
   cursor: pointer;
}
#messageLogin {
    color: white;
}
.img-logo2 {
    width: 10%;
    padding: 5%;
}
.category-1, .category-2, .category-3, .category-4 {
    color: #00CFC3;
    padding: 5%;
}
.category-text {
    text-align: left;
}
.showAll {
    text-align: right;
    margin-top: -25px;
}
.imgHome {
    width: 90%;
    max-height: 110px; 
    padding: 5px; 
}
.viewMovie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}
#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #272727;
    height: 30px;
    padding: 5%;
}
.movie-category{
    display: none;
}
.texto {
    color: #272727;
}
.sheetImg {
    width: 100%;
}
.sheetGender {
    color: #00CFC3;
    font-size: 20px;
    margin-left: 5%;
}
.sheetYear{
    color: #00CFC3;
    font-size: 20px;
    margin-left: 10%;
}
.star {
    margin-left: 45%;
}
.sheetTitle{
    color: #00CFC3;
    font-size: 25px;
    margin: 2%;
}
.sheetSyn {
    color: #CCFBF8;
    font-size: large;
    text-align: justify;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.logoSpoilers {
    width: 20%;
    margin-left: 5%;
}
.logoYoutube, .logoDisney {
    width: 30%;
    margin-left: 5%;
}
.logoCuevana, .logoNetflix {
    width: 17%;
    margin-left: 5%;
}

/*Seccción de comentarios 
/*Class para efectos de botones*/
.hide{
    display: none;
}

.fade{
    opacity: 0.3;
}

.show{
    opacity :1.0;
    color: #2EE59D;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.show-like{
    display:block;
}


.comments-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90%;
    min-width:17em;
    max-width:35em;
    margin-left: 4%;
    margin-top:3%;
    background-color:#333333;
}

.comments-view{
    display: grid;
    grid-template-columns: 1fr;
    width:80%;
    margin-top: 5%;
}

.form-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:8em;
}

.comment{
    width:90%;
    height: 65px;
    font-family:'Open Sans', sans-serif;
    font-size: 0.9rem;
    background: #646464;
    border-radius: 5px;
    border-style: none;
    color: white;
    margin-top:5%;
    outline:none;
    outline-offset: 2px solid black;
}

.comment.active{
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.8);
}

.share-comment{
  border:none;
  background: none;
  margin-top: 2%;
  margin-left: 75%;
  color: #2375EF;
  text-shadow:0px 8px 15px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  animation: infinite resplandorAnimation 2s;
}
@keyframes resplandorAnimation {
    0%,100%{
      box-shadow: 0px 0px 20px;
    }
    50%{
    box-shadow: 0px 0px 0px;
    
    }
  
  }
.section-comment{
   display: flex;
   flex-direction: column;
   width:100%;
   color: #a5a5a5;
   font-family:'Open Sans', sans-serif;
}

.header-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    margin:0;
}


.image-user{
    width:3.75rem;
    height: 3.75rem;
    margin-left: 0%;
   }
   .image-user img {
       width:3.125rem;
       height:3.125rem;
       margin:5%;
       border-radius:50%;
       border : 2px solid silver;
   }
   
   .name-user{
       color :seashell;
       margin-left:2%;
       height:50%;
       width:50%;
       font-size:0.9rem;
   }

   .section-likes{
       display: flex;
       flex-direction: row;
       width:4em;
       justify-content:flex-end;
       margin: 0 auto;
   }

   .count-likes{
    color :seashell;
    margin-left:20%;
    width:20%;
    margin-top:2%;
}

.btn-like i.far.fa-thumbs-up{
    color:  #a5a5a5;
}

.btn-like i.far.fa-thumbs-up:hover{
    color: #2375EF;
    cursor: pointer;
}

.btn-like.showLikes{
    background-color:none;
}

.btn-like.showLikes i.far.fa-thumbs-up{
    color: #2375EF;
    cursor: pointer;
}

.grid-comment{
    display: grid;
    grid-template-columns: auto auto auto auto  auto auto auto ;
    grid-template-rows: auto 40px repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100%;
    height: auto;
}

.showComment{
    height: auto;
    min-width:13rem;
    margin-top: 3%;
    word-wrap: break-word;
    font-size: 0.9rem;
    grid-area: 1 / 1 / 2 / 8;
}

.date-post{
  font-size: 0.9rem;
  margin-top:5%;
  font-family:'Open Sans', sans-serif;
  grid-area: 2 / 1 / 3 / 5;
}

.btn-save{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 20%;
    margin-left: 5%;
    grid-area: 2 / 5 / 3 / 6; 
}

.btn-save i.far.fa-save  {
    margin-left:26%;
    margin-top: 25%;
}

.btn-edit{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 13%;
    margin-left:60%;
    grid-area: 2 / 6 / 3 / 7;
}

.btn-edit i.far.fa-edit{
    margin-left:25%;
    margin-top: 20%;
}
.btn-edit:hover{
    color: #2375EF;
    cursor: pointer;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-delete{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 16%;
    margin-left:30%;
    grid-area: 2 / 7 / 3 / 8;
    cursor: pointer;
}

.btn-delete i.far.fa-trash-alt{
    margin-left:18%;
    margin-top: 22%;
}

.btn-delete:hover{
    color: #2375EF;
    cursor: pointer;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
