*{
    margin: 0;
    padding: 0;
}
body {
    background-color:#0E0E0E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#login {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img-logo {
    width: 30%;
    height: 40%;
    margin: 30px;
    align-self: center;
}
.text {
    font-weight: medium;
    color: #84F8F1;
    font-size: 20px;
    width: 282px;
    align-self: center;
    margin: 10px;
}
input {
    width: 281px;
    height: 49px;
    background: #272727;
    box-shadow: 4px 2px 5px rgba(0, 207, 195, 0.5);
    border-radius: 5px;
    margin: 15px;
    border-style: none;
    color: white;
}
#email::placeholder {
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 4%;    
}
#password::placeholder {
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.btn {
    width: 161px;
    height: 39px;
    background: #00CFC3;
    box-shadow: 0px 0px 15px rgba(6, 220, 176, 0.6);
    border-radius: 5px;
    color: white;
    margin: 30px;
    border-style: none;
}
h2, .text-signUp {
    color: white;
    font-weight: lighter;
    font-size: 16px;
}
.btn-2 {
    background: none;
    color: #00CFC3;
    border-style: none;
}
.social {
    margin: 40px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: hidden;
    width: 312px;
    height: 366px;
    left: 8%;
    top: 267px;
    border-radius: 5px;
    background-color: white;
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    background-color: white;
    text-align: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}
.close {
    margin-right: 2%;
    display: flex;
    color: #00cfc3;
    flex-direction: row-reverse;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
h3 {
    color: #00CFC3;
    text-align: center;
    margin-bottom: 2%;
}
#btn-3 {
    margin-top: 10px;
}
#mail-creation::placeholder{
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 5%; 
}
#pass-creation::placeholder{
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.social-2 {
    margin-top: -4%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
.carousel{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.carousel ul {
     display: flex;
     padding: 0;
     width:500%;
     animation: change 10s infinite alternate;
}
.carousel li{
    list-style:none;
    width:100%;
}
.carousel img{
     width:100%;
     height:90%;
     border-radius: 10px;
}
     @keyframes change{
     0%{margin-left:-0%;}
     10%{margin-left:-0%;}
     20%{margin-left:-100%;}
     30%{margin-left:-100%;}
     40%{margin-left:-200%;}
     50%{margin-left:-200%;}
     60%{margin-left:-300%;}
     70%{margin-left:-300%;}
     80%{margin-left:-400%;}
     100%{margin-left:-400%;}
}
.carousel img:hover{
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
   cursor: pointer;
}
#messageLogin {
    color: white;
}
.img-logo2 {
    width: 10%;
    height: 15%;
    padding: 5%;
}
.category-1, .category-2, .category-3, .category-4 {
    color: #00CFC3;
    padding: 5%;
}
.category-text {
    text-align: left;
}
.showAll {
    text-align: right;
    margin-top: -25px;
}
.imgHome {
    width: 90%;
    max-height: 110px; 
    padding: 5px; 
}
.viewMovie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}
#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #272727;
    height: 30px;
    padding: 5%;
}
.movie-category{
    display: none;
}
