*{
    margin: 0;
    padding: 0;
}
body {
    background-color:#0E0E0E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#login {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo {
    width: 122px;
    height: 180px;
    margin: 30px;
    align-self: center;
}
.text {
    font-weight: medium;
    color: #84F8F1;
    font-size: 20px;
    width: 282px;
    align-self: center;
    margin: 10px;
}
input {
    width: 281px;
    height: 49px;
    background: #272727;
    box-shadow: 4px 2px 5px rgba(0, 207, 195, 0.5);
    border-radius: 5px;
    margin: 15px;
    border-style: none;
    color: white;
}
#email::placeholder {
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 5%;    
}
#password::placeholder {
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.btn {
    width: 161px;
    height: 39px;
    background: #00CFC3;
    box-shadow: 0px 0px 15px rgba(6, 220, 176, 0.6);
    border-radius: 5px;
    color: white;
    margin: 40px;
    border-style: none;
}
h2 {
    color: white;
    font-weight: lighter;
    font-size: 16px;
}
.btn-2 {
    background: none;
    color: #00CFC3;
    border-style: none;
}
.social {
    margin: 40px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: hidden;
    width: 312px;
    height: 366px;
    left: 32px;
    top: 267px;
    border-radius: 5px;
    background-color: white;
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    background-color: white;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}
.close {
    margin-right: 2%;
    display: flex;
    color: #00cfc3;
    flex-direction: row-reverse;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
h3 {
    color: #00CFC3;
    text-align: center;
    margin-bottom: 2%;
}
#btn-3 {
    margin: 10px 0px 0px 80px;
}
#mail-creation::placeholder{
    background-image: url(img/mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 5%; 
}
#pass-creation::placeholder{
    background-image: url(img/password.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}
.social-2 {
    text-align:  center;
    margin: 30px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
      top: -300 px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300 px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
